<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>FamiPlus - Management Website</title>
</head>
<body>

    <!-- Header -->
    <div class="header">
        <div class="m">
            <a href="#"><i class="fa-solid fa-bars"></i></a>
            <a href="#"><img src="/images/logo.png" width="100%"></a>
        </div>
        <input class="search-bar" placeholder="Search...">
        <div class="icons">
          <a href="#"><i class="fa-regular fa-file"></i></a> 
          <a href="#"><i class="fa-regular fa-envelope"></i></a> 
          <a href="#"><i class="fa-regular fa-bell" ></i></a> 
          <a href="#"><i class="fa-regular fa-bookmark" ></i></a>
          <a href="#"><i class="fa-regular fa-user" ></i></a> 
        </div>
    </div>

    <!-- Sidebar -->
    <div class="sidebar">
        <h3>Menu</h3>
        <a href="/" ><i class="fa-solid fa-house"></i>&nbsp; Home</a>
        <a href="/create-account"><i class="fa-solid fa-pen-to-square"></i>&nbsp; Creating New Account</a>
        <a href="#"><i class="fa-solid fa-book-open"></i>&nbsp; Account Management</a>
        <a href="#"><i class="fa-solid fa-code-fork"></i>&nbsp; Permission Management</a>
        <a href="#"><i class="fa-solid fa-star"></i>&nbsp; Folder Management</a>
        <a href="#"><i class="fa-solid fa-bullseye"></i>&nbsp; Deactivated Account Management</a>
        <a href="#"><i class="fa-solid fa-chart-pie"></i>&nbsp; Reports</a>
    </div>

    <!-- Main Content -->
    <div class="main">
        <div class="logo">
            <img id="an" src="/images/famiplus.png">
            <div class="text">
                <h1>FAMIPLUS</h1>
                <h4>Management Website</h4> 
            </div>
        </div>

        <!-- Content Section -->
        <div class="content">
            <h1>Home</h1>
            <h4>Overview</h4>
        
            <h3>Projects</h3>
            <div class="projects">
                <div class="project-item">
                    <i class="fa-regular fa-folder"></i>
                    <span>Quy hoạch chi tiết 1-500. An Vi Central Park</span>
                </div>
                <div class="project-item">
                    <i class="fa-regular fa-folder"></i>
                    <span>Khu dân cư mới Hồng Tiến</span>
                </div>
                <div class="project-item">
                    <i class="fa-regular fa-folder"></i>
                    <span>Project name 3</span>
                </div>
            </div>
        </div>
        
    </div>

</body>
</html>
